<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>drugInOut</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../lay/layui.js"></script>
    <link rel="stylesheet" href="../lay/css/layui.css" media="all">
    <script type="text/javascript" src="../js/model/admin.js"></script>
    <script type="text/javascript" src="../js/drug/main.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="head">
        <div class="layui-logo"><a style="color: #eb7350" href="loginSuccessUser">admin center</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a>回话管理</a></li>
            <li class="layui-nav-item"><a>权限管理</a></li>
            <li class="layui-nav-item"><a>预警报告</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">消息系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">连锁消息</a></dd>
                    <dd><a href="">用户消息</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a>
                    <img src="" class="layui-nav-img" id="adminImg">
                    <span id="adminName">npm</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="info">个人资料</a></dd>
                    <dd><a href="config">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="../logout" style="color: burlywood">logout</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black" id="left">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <!-- layui-nav-itemed 代表下拉是否显示 -->
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">药品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="drugInList">药品资料</a></dd>
                        <dd><a href="drugUpDown">上架下架</a></dd>
                        <dd><a href="javascript:;">入库出库</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">连锁管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">连锁资料</a></dd>
                        <dd><a href="javascript:;">门店资料</a></dd>
                        <dd><a href="javascript:;">店员资料</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">会员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">会员资料</a></dd>
                        <dd><a href="javascript:;">会员管理</a></dd>
                        <dd><a href="javascript:;">会员信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="body">
            <form class="layui-form">
                <!-- lay-verify="required" 代表必填 -->
                药品编号：<input type="text" name="drugCode" autocomplete="off" lay-verify="required">
                连锁编号：<input type="text" name="chainId" autocomplete="off" lay-verify="required">
                保质日期：<input type="text" name="date" id="date" placeholder="yyyy-MM-dd" autocomplete="off" lay-verify="required">
                <div class="layui-input-inline" style="width: 100px">
                    <select name="updown">
                        <option value="已上架">已上架</option>
                        <option value="已下架">已下架</option>
                    </select>
                </div>
                <button class="layui-btn" lay-submit="" lay-filter="demo3">查询</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </form>
            <!-- id 与 render里面的elem 要一样 -->
            <table class="layui-hide" id="test3" lay-filter="test"></table>
        </div>
    </div>
    <div class="layui-footer" style="text-align: center;color: #01AAED" id="buttom">
        <!-- 底部固定区域 -->
        @created by zgq7
    </div>
</div>
</body>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete" style="width: 80px;">删除</a>
</script>
</html>