<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>purchase drug</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../lay/layui.js"></script>
    <link rel="stylesheet" href="../lay/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/member/load.css" media="all">
    <link rel="stylesheet" href="../css/member/spzs.css" media="all">
    <script type="text/javascript" src="../js/model/user.js"></script>
    <script type="text/javascript" src="../js/member/purchase.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a style="color: #eb7350" href="loginSuccessUser">member center</a>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a>购物车</a></li>
            <li class="layui-nav-item"><a>未支付订单</a></li>
            <li class="layui-nav-item"><a>历史订单</a></li>
            <li class="layui-nav-item">
                <a href="#">消息系统</a>
                <dl class="layui-nav-child">
                    <dd><a>叮当消息</a></dd>
                    <dd><a>联系管理员</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <span class="layui-icon layui-icon-rmb" style="font-size: 18px;color: yellow" id="amount"></span>
                <dl class="layui-nav-child">
                    <dd><a href="#">充值</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a>
                    <img src="" class="layui-nav-img" id="userImg">
                    <span id="myUserName">npm</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="info" id="info">个人资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="../logout" style="color: burlywood">logout</a></li>
        </ul>
    </div>
    <div id="storebody">
        <div id="infoModel">
            <table>
                <tbody>
                <tr>
                    <td style="width: 20%;height: 100%;" valign="top">
                        <img th:src="${drug.drugData}" id="root">
                        <ul id="info_update">
                            <li class="infoLi">
                                购买数量:&nbsp<input type="number" max="10" min="1" value="1" id="count">
                            </li>
                            <li class="infoLi">
                                <button data-method="purchase" class="layui-btn layui-btn-warm" id="purchase">
                                    立即购买
                                </button>
                            </li>
                            <li class="infoLi">
                                <button class="layui-btn" id="addtobus">
                                    添加到购物车
                                </button>
                            </li>
                        </ul>
                    </td>
                    <td valign="top" style="width: 40%">
                        <ul class="info_main">
                            <li class="infoLi">
                                名称:&nbsp<span th:text="${drug.drugName}"></span>
                            </li>
                            <li class="infoLi">
                                种类:&nbsp<span th:text="${drug.drugKind}"></span>
                            </li>
                            <li class="infoLi">
                                原价:&nbsp<span th:text="${drug.unitPrice}"></span>
                            </li>
                            <li class="infoLi">
                                现价:&nbsp<span th:text="${drug.storePrice}"></span>
                            </li>
                        </ul>
                    </td>
                    <td valign="top">
                        <ul class="info_main">
                            <li class="infoLi">
                                剩余数量:&nbsp<span th:text="${drug.count}"></span>
                            </li>
                        </ul>
                        <ul class="info_main">
                            <li class="infoLi">
                                说明:&nbsp<span th:text="${drug.explaination}"></span>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer">
        @created by zgq7
    </div>
</div>
</body>
</html>