<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>config</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../lay/layui.js"></script>
    <link rel="stylesheet" href="../lay/css/layui.css" media="all">
    <script type="text/javascript" src="../js/moudle.js"></script>
</head>
<body>
<div id="page1"></div>
<div id="page2"></div>
<div id="page3"></div>
<div id="page4"></div>
</body>
<script>
    $('#page1').load("../viewModel/userHead");
    $('#page3').load("../viewModel/userLeft");
    $('#page4').load("../viewModel/userButtom");
</script>
</html>