<!-----用户个人资料---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../lay/layui.js"></script>
    <link rel="stylesheet" href="../lay/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/member/info.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="infoModel">
            <table>
                <tbody>
                <tr>
                    <td style="width: 20%;height: 100%;" valign="top">
                        <img src="../images/logo/bg4.jpg" id="img">
                        <ul id="info_update">
                            <li>
                                <a href="../updateLog">修改照片</a>
                            </li>
                            <li>
                                <a href=" ../updateInfo">修改资料</a>
                            </li>
                        </ul>
                    </td>
                    <td valign="top" style="width: 30%">
                        <ul class="info_main">
                            <li>
                                姓名:&nbsp<span id="name"></span>
                            </li>
                            <li>
                                性别:&nbsp<span id="sex"></span>
                            </li>
                            <li>
                                卡号:&nbsp<span id="cardNo"></span>
                            </li>
                            <li>
                                生日:&nbsp<span id="birthday"></span>
                            </li>
                            <li>
                                邮箱:&nbsp<span id="email"></span>
                            </li>
                            <li>
                                地址:&nbsp<span id="address"></span>
                            </li>
                            <li>
                                积分:&nbsp<span id="intergration"></span>
                            </li>
                            <li>
                                等级:&nbsp<span id="level"></span>
                            </li>
                        </ul>
                    </td>
                    <td valign="top">
                        <ul class="info_main">
                            <li>
                                余额:&nbsp<span id="amount"></span>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>