<!-----用户个人资料---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../lay/layui.js"></script>
    <link rel="stylesheet" href="../lay/css/layui.css" media="all">
    <script type="text/javascript" src="../js/model/user.js"></script>
    <link rel="stylesheet" href="../css/member/info.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="head">
        <div class="layui-logo"><a style="color: #eb7350" href="loginSuccessUser">member center</a>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a>控制台</a></li>
            <li class="layui-nav-item"><a>商品管理</a></li>
            <li class="layui-nav-item"><a>用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <span class="layui-icon layui-icon-rmb" style="font-size: 20px;color: yellow" id="amount"></span>
                <dl class="layui-nav-child">
                    <dd><a href="#">充值</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a>
                    <img src="" class="layui-nav-img" id="userImg">
                    <span id="myUserName">npm</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="info" id="info">个人资料</a></dd>
                    <dd><a href="config" id="config">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="../logout" style="color: burlywood">logout</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black" id="left">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">ZPPP</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="infoModel">
            <table>
                <tbody>
                <tr>
                    <td style="width: 20%;height: 100%;" valign="top">
                        <img src="" id="img">
                        <ul id="info_update">
                            <li class="infoLi">
                                <a href="updateLog">修改照片</a>
                            <li class="infoLi">
                                <a href=" updateInfo">修改资料</a>
                            </li>
                        </ul>
                    </td>
                    <td valign="top" style="width: 35%">
                        <ul class="info_main">
                            <li class="infoLi">
                                姓名:&nbsp<span id="name"></span>
                            </li>
                            <li class="infoLi">
                                性别:&nbsp<span id="sex"></span>
                            </li>
                            <li class="infoLi">
                                卡号:&nbsp<span id="cardNo"></span>
                            </li>
                            <li class="infoLi">
                                生日:&nbsp<span id="birthday"></span>
                            </li>
                            <li class="infoLi">
                                邮箱:&nbsp<span id="email"></span>
                            </li>
                            <li class="infoLi">
                                地址:&nbsp<span id="address"></span>
                            </li>
                            <li class="infoLi">
                                积分:&nbsp<span id="intergration"></span>
                            </li>
                            <li class="infoLi">
                                等级:&nbsp<span id="level"></span>
                            </li>
                        </ul>
                    </td>
                    <td valign="top">
                        <ul class="info_main">
                            <li class="infoLi">
                                余额:&nbsp<span id="infoAmount"></span>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="layui-footer" style="text-align: center;color: #01AAED" id="buttom">
        <!-- 底部固定区域 -->
        @created by zgq7
    </div>
</div>
</body>
</html>