<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user buttom</title>
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../lay/layui.js"></script>
    <link rel="stylesheet" href="../lay/css/layui.css" media="all">
    <script type="text/javascript" src="../js/moudle.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-footer" style="text-align: center;color: #01AAED">
        <!-- 底部固定区域 -->
        @created by zgq7
    </div>
</div>
</body>
</html>