<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user Head</title>
    <!--<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../lay/layui.js"></script>
    <link rel="stylesheet" href="../lay/css/layui.css" media="all">
    <script type="text/javascript" src="../js/moudle.js"></script>-->
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" id="head">
        <div class="layui-logo"><a href="loginSuccessUser" style="color: #eb7350">member center</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a>控制台</a></li>
            <li class="layui-nav-item"><a>商品管理</a></li>
            <li class="layui-nav-item"><a>用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a>
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../member/info">个人资料</a></dd>
                    <dd><a href="../member/config">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="../logout" style="color: burlywood">logout</a></li>
        </ul>
    </div>
</div>
</body>
</html>